{% extends "layout.html" %}
{% block links %} 
    <link rel="stylesheet" href="{{url_for('static',filename='about.css')}}">
{% endblock links %}
{% block content %}
    <main>
        <div class="container">
            <h1>About</h1>
            <p>This is <span>an example</span> of flask project “Blog” with login, registration and articles.</p>
            <p>Contact me on Telegram <a target="_blank" href="https://t.me/deepdows">@deepdows</a>.</p>
        </div>
    </main>
{% endblock content %}